body {
  background-image: url("background/pexels.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}
.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game-page {
  .glimmer {
    background: url("removebg-preview.png") repeat-x;
    height: 50%;
    bottom: 0;
    z-index: 22;
  }

  .bars {
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
    width: 5%;
  }

  .ballcon {
    display: flex;
    /* margin-top: 30%; */
    .role {
      display: flex;
      animation: moveUpDown 2.4s linear infinite;
      /* width: 7%; */
      width: 100px;
      height: 100px;
      margin-left: 33%;
    }
  }
  .score-label {
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    color: white;
  }

  .all-row {
    display: flex;
    margin-top: 20%;
    .row {
      display: flex;
      animation: scroll 38.4s linear infinite;
      &:nth-child(2) {
        animation: scroll2 38.4s linear infinite;
        animation-delay: -19.2s;
      }
      .bars {
        animation: rotate 4s linear infinite;
        width: 120px;
        height: 120px;
        margin: 0 35px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(200px);
  }
  50% {
    transform: translateY(350px);
  }
  100% {
    transform: translateY(200px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
